{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/eventAdmin.css"/>
{% endblock %}

{% block content %}
	<form method="post" accept-charset="UTF-8" class=" form container-fluid mx-4 mt-5" enctype="multipart/form-data">
		<div class="row p-4">
			<div class="col-3 pt-3">
				<h3>
					<label for="eventImage">Ajouter une image</label>
				</h3>
				<input id="eventImage" type="file" name="eventImage" value="{% if eventImage is defined %}{{ eventImage }}{% endif %}" class="col-6">
			</div>
			<div class="col-9">
				<div class="container">
					<div class="row">
						<div class="col-4 pt-3">
							<h3>
								<label for="raceName" class="text-center">Titre de la course</label>
							</h3>
							<input class="col-7" id="raceName" type="text" name="raceName" value="{% if raceName is defined %}{{ raceName }}{% endif %}">
						</div>
						<div class="col-8">
							<div class="container row">
								<div class="col-6 pt-3">
									<h3>
										<label for="sportSelect">Type de course</label>
									</h3>
									<select class="col-6" name="sportSelect" id="sportSelect">
										<option value="Auto">Auto</option>
										<option value="Moto">Moto</option>
										<option value="Handicar">Handicar</option>
										<option value="Mecasport">Mécasport</option>
									</select>
								</div>
								<div class="col-6 pt-3">
									<h3>
										<label for="date" class="col-1 ">Date</label>
									</h3>
									<div class="col-11">
										<div class="input-group date" id="datepicker">
											<input type="date" class="form-control" id="date" name="date"/>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<h3>
			<label class="mx-3" for="raceDescription">Description de la course</label>
		</h3>
		<textarea id="raceDescription" class="col-11 mx-3 p-4" name="raceDescription">
			{% if raceDescription is defined %}
				{{ raceDescription }}
			{% endif %}
		</textarea>

		{% if errors is defined %}
			<ul class="errors">
				{% for error in errors %}
					<li>{{ error }}</li>
				{% endfor %}
			</ul>
		{% endif %}
		<input type="submit" value="Submit" class="col-1 mx-3" name="send">
	</form>
{% endblock %}
