{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/card.css"/>
{% endblock %}

{% block content %}
	{% block card %}
		<div class='titleContent'>
			<h2 class='title'>Evènement</h2>
		</div>
		<div class="Cards">
			<div class=" card-content d-flex flex-row bg-light m-auto">
				<img class="imgCard card-img-top m-4 " src="assets/images/circuit2.jpeg" alt="Card image cap">
				<div class="card-body w-100">
					<div class=' d-flex flex-row justify-content-around'>
						<h3 class="card-title mb-5 mt-2">Event title - Course 2CV</h3>
						<div class='d-flex flex-row mt-2'>
							<h4 class='course'>
								Course
							</h4>
							<h4 class='date'>
								Date
							</h4>
						</div>
					</div>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id sodales tellus. Pellentesque in lorem vitae risus fermentum rutrum. 
																																										Vestibulum sed libero eget diam fringilla convallis vitae non dui. In hac habitasse platea dictumst.</p>
					<div class = 'btn-plus'>
						<a href="#" class="btn btn-primary">En savoir plus</a>
					</div>
				</div>
			</div>
			<div class='allEventContent'>
				<div class='EventContent'>
					<a href='#' class='allEvent '>voir tout les evènement</a>
				</div>
			</div>
		</div>
	{% endblock %}

{% endblock %}
