{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/presentation.css" />{% endblock %}

{% block content %}

<main class="container-fluid">
    <section>

        <h2 class="text-primary title -2p">Présentation de l’association </h2>
        <hr>
        <p class="presentation-text m-5">
            {{ association.presentation }}
        </p>
        <hr>
    </section>
</main>
{% endblock %}