{% extends 'layout.html.twig' %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/handicar.css"/>
{% endblock %}

{% block header %}
	<header>
		<div class="yellow-spacer bg-secondary"></div>
		<div class="header-container headerTitle d-flex justify-content-center flex-column align-items-center text-center text-light">
			<h1>
				Handi-car</h1>
		</div>
		<div class="yellow-spacer bg-secondary"></div>

	</header>

{% endblock %}
