{% extends 'admin_layout.html.twig' %}

{% block stylesheetGrandChild %}
	<link rel="stylesheet" href="/assets/css/editAdminForm.css"/>
{% endblock %}

{% block content %}
	<h1 class="text-center my-4 mb-5">Section
		{{section.name}}</h1>
	{{include ('/Components/_admin_form_sports.html.twig')}}
{% endblock %}
