.bureau-members {
    font-size: 1.3rem;
}

.admin-members {
    font-size: 1.3rem;
}

.admin-image {
    object-fit: cover;
}

.bureau-image {
    object-fit: cover;
    height: 630px;
}

.section-bureau:not(:first-of-type) {
    margin-block-start: 5rem;
}

.header-container {
    height: calc(40vh - var(--navbar_height));
    background-image: url(../images/bureau-cover.jpg);
    background-size: fill;
    background-repeat: no-repeat;
    background-position: center;
    padding-block-start: 100px;
}

@media screen and (max-width: 768px) {
    .blue-spacer-right {
        margin: auto;
    }
}
