:root {
    --lightdark: rgb(98, 98, 98);
    box-sizing: border-box;
}

.date {
    color: var(--bs-dark);
    transform: skew(-20deg);
    height: 40px;
    width: 100px;
    font-size: 1.3rem;
}

.course {
    transform: skew(-20deg);
    height: fit-content;
    height: 40px;
    width: 100px;
    font-size: 1.3rem;
}

.cards {
    border-block: 8px solid var(--bs-secondary);
    background-image: url(../images/home-events-cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cards-container {
    opacity: 0.93;
    padding-block: 40px;
}

.event-content {
    margin: 0;
    padding: 0;
    width: fit-content;
    height: 50px;
    transform: skew(-20deg);
    border: 2px solid var(--bs-primary);
    box-shadow: 0px 4px 4px var(--box-shadow);
    border-radius: 4px 4px 8px;
}

.card-content {
    width: 90%;
}
.all-event {
    text-decoration: none;
}

.card-title {
    font-size: (2.2rem);
}

.all-event-content {
    width: 98%;
    margin-block: 16px;
}

.btn-plus {
    margin-bottom: 10px;
}

.cardImg {
    height: 328px;
    object-fit: cover;
}

.card {
    height: 330px;
}
