:root {
    --lightdark: rgb(98, 98, 98);
    box-sizing: border-box;
}

.imgCard {
    height: 300px;
    width: 400px;
    box-shadow: 15px -15px var(--lightdark);
}

.titleContent {
    margin-left: 75px;
    margin-block-end: -20px;
    width: clamp(150px, 50%, 450px);
    height: 50px;
    transform: skew(-20deg);
    border: 1px solid #2D29EE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title {
    font-family: titlefont;
    transform: skew(20deg);
    font-size: clamp(1rem, -1rem + 8vw, 2.2rem);
}


.date {
    color: black;
    transform: skew(-20deg);
    height: 40px;
    width: 70px;
    font-size: 1.5rem;
}

.course {
    transform: skew(-20deg);
    height: fit-content;
    height: 40px;
    width: 100px;
    font-size: 1.5rem;
}

.Cards {
    padding-top: 40px;
    border-block: 8px solid var(--bs-secondary);
}

.EventContent {
    margin: 0;
    padding: 0;
    width: fit-content;
    height: 50px;
    transform: skew(-20deg);
    border: 2px solid #2D29EE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 8px;
}

.w-100 {
    width: 90% !important;
}

.allEvent {
    text-decoration: none;
}

.card-title {
    font-size: (2.2rem);
}

.allEventContent {

    margin-block: 16px;
}

.btn-plus {
    margin-bottom: 10px;
}

@media screen and (max-width:992px) {
    .imgCard {
        width: 90%;
        height: 20%;
    }

    .card-title {
        font-size: 1rem;
    }

    .course {
        font-size: 1rem;
        height: 30px;
        width: 60px;
    }

    .date {
        font-size: 1rem;
        height: 30px;
        width: 50px;
    }
}