.yellow-spacer {
    height: 8px;
}

.header-container {
    height: calc(40vh - var(--navbar_height));
    background-image: url(../images/header_circuit2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50% 50% 30%;
}

.blue-spacer {
    margin-block-start: -2px;
    height: 2px;
}

.circuit-content-image {
    margin-block-start: -80px;
    border: solid var(--bs-primary) 3px;
}

.circuit-section3 {
    margin-block-start: 115px;
    border: solid var(--bs-primary) 20px;
}

.circuit-adress {
    border-top: solid var(--bs-primary) 2px;
    border-bottom: solid var(--bs-primary) 2px;
    padding-block: 214px;
}

@media screen and (max-width: 960px) {
    .circuit-content-image {
        margin-block-start: 0;
        border: solid var(--bs-primary) 1px;
    }
    .circuit-section3 {
        margin-block-start: 40px;
    }
}
