.header-container {
    height: calc(40vh - var(--navbar_height));
    background-image: url(../images/header_circuit2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50% 50% 30%;
}

.circuit-content-image {
    object-fit: cover;
}

.circuit-adress {
    border-top: solid var(--bs-primary) 2px;
    border-bottom: solid var(--bs-primary) 2px;
    padding-block: 150px;
}
