.yellow-spacer {
    height: 8px;
}

.header-container {
    /* penser à retirer la hauteur de la navbar dans height calc*/
    height: calc(100vh - 16px);
    background-image: url(../images/home_cover.jpg);
    background-size: fill;
    background-repeat: no-repeat;
    background-position: center;
    padding-block-start: 130px;
}

header,
h1,
h2 {
    text-shadow: 2px 3px 1px rgba(24, 23, 23, 0.55);
}

header,
h1 {
    font-size: 60px;
    font-family: titleFont;
}

header,
h2 {
    text-shadow: 2px 3px 1px rgba(24, 23, 23, 0.55);
    font-size: 40px;
    font-family: bodyFont;
}

.arrow-down {
    height: 80px;
    width: 90px;
    margin-block-start: -40px;
    opacity: 0.85;
}

.header-container :nth-child(3) {
    margin-block-start: 60px;
}

.header-container :nth-child(5) {
    margin-block-end: -100px;
}

.bounce {
    -moz-animation: bounce 2.5s infinite;
    -webkit-animation: bounce 2.5s infinite;
    animation: bounce 2.5s infinite;
}
@-moz-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(20px);
        transform: translateY(20px);
    }
    60% {
        -moz-transform: translateY(25px);
        transform: translateY(25px);
    }
}
@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }
    60% {
        -webkit-transform: translateY(25px);
        transform: translateY(25px);
    }
}
@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(40px);
        -ms-transform: translateY(40px);
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }
    60% {
        -moz-transform: translateY(25px);
        -ms-transform: translateY(25px);
        -webkit-transform: translateY(25px);
        transform: translateY(25px);
    }
}

@media screen and (max-width: 720px) {
    header,
    h1 {
        font-size: 40px;
        font-family: titleFont;
    }

    header,
    h2 {
        text-shadow: 2px 3px 1px rgba(24, 23, 23, 0.55);
        font-size: 20px;
        font-family: bodyFont;
    }
}

@media screen and (max-height: 730px) {
    .header-container :nth-child(3) {
        margin-block-start: 10px;
    }
    .header-container {
        padding-block-start: 60px;
    }
}
