@font-face {
    font-family: Spiky016;
    src: url(/assets/fonts/Spiky016-axa75.otf);
}

@font-face {
    font-family: Roboto;
    src: url(/assets/fonts/Roboto-Regular.ttf);
}

:root {
    --bs-primary-rgb: 31, 28, 198;
    --bs-primary: rgb(var(--bs-primary-rgb));
    --bs-secondary-rgb: 245, 250, 38;
    --bs-secondary: rgb(var(--bs-secondary-rgb));
    --font_title: Spiky016;
    --font_body: Roboto;
    --navbar_height: 16px;
}
