
@font-face {
    font-family: titleFont;
    src: url(/assets/fonts/Spiky016-axa75.otf);
}

@font-face {
    font-family: bodyFont;
    src: url(/assets/fonts/Roboto-Regular.ttf);
}


:root{
    --bs-primary-rgb : 31, 28, 198;
    --bs-primary: rgb(var(--bs-primary-rgb));
    --bs-secondary-rgb : 245, 250, 38;
    --bs-secondary : rgb(var(--bs-secondary-rgb));
}
