.header-container {
    height: calc(50vh - var(--navbar_height));
    z-index: 0;
}

.header-image {
    object-fit: cover;
}

.sports-presentation {
    padding-inline: 6rem;
}

.sports-section {
    padding-block-start: 10rem;
}

.sports-table {
    border-collapse: separate;
    border-spacing: 0 15px;
}
