.header-container {
    height: calc(50vh - var(--navbar_height));
    z-index: 0;
}

.header-image {
    object-fit: cover;
}

.sports-events {
    padding-block-end: 10rem;
}

.sports-table {
    border-collapse: separate;
    border-spacing: 0 15px;
}
