.header-container {
    height: calc(50vh - var(--navbar_height));
    z-index: 0;
}

.header-image {
    object-fit: cover;
}

.sports-table {
    border-collapse: separate;
    border-spacing: 0 15px;
}

.card-section {
    height: 140px;
}
