{% extends 'visitor_layout.html.twig' %}

{% block stylesheetGrandChild %}

	<link rel="stylesheet" href="/assets/css/section.css"/>

{% endblock %}

{% block header %}
	<header>
		<div class="yellow-spacer bg-secondary"></div>
		<div class="header-container text-light position-relative">
			<img src="{% if section.header is not null %} {{'/assets/uploads/'~section.header}} {% else %} {{'/assets/images/imgPlaceHolder.webp'}} {% endif %}" alt="header image of {{section.name}}" class="header-image h-100 w-100">
			<h1 class="headerTitle position-absolute top-50 start-50 translate-middle">
				{{section.name}}
			</h1>
		</div>
		<div class="yellow-spacer bg-secondary"></div>
	</header>
{% endblock %}
