<form action="" method="POST" id="edit-sports">
	<input type="hidden" value="{{ section.id }}" name="id">
	<div class="row admin-form m-auto my-4 p-2 w-75">
		<div class="mb-3 col-9">
			<label for="section-title" class="form-label">Nom de la section</label>
			<input type="text" name="name" class="form-control" id="section-title" value="{{section.name}}">
		</div>
		<div class="mb-3 col-3">
			<label for="section-header" class="form-label">Image en-tête de la section</label>
			<input class="form-control" type="file" id="section-header" name="header">
		</div>
		<div class="mb-3 col-12 m-auto">
			<label for="section-presentation" class="form-label">Description de la section</label>
			<textarea class="form-control" name="presentation" id="section-presentation" rows="3">{{section.presentation}}</textarea>
		</div>
	</div>
</form>
<div class="d-flex justify-content-between w-75 m-auto">
	<button type="submit" class="btn btn-success w-25 py-2" form="edit-sports">Valider</button>
	<button class="btn btn-outline-danger w-25 py-2">
		<a href="/admin/sports" class="admin-buttons text-danger">Annuler</a>
	</button>
</div>
