<div class="bg-dark text-light text-center">Espace administrateur</div>
<nav class="navbar navbar-expand-md navbar-light bg-light">
	<div class="container-fluid ">
		<a class="navbar-brand" href="/administration">
			<img src="/assets/images/NavLogo.png" alt="Logo"></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<ul class=" navbar-nav">
			<div class="skewright d-none d-md-block"></div>
			<li>
				<a class="nav-link" href="#">Sections sports</a>
			</li>
			<div class="skewright d-none d-md-block"></div>
			<li class="nav-item">
				<a class="nav-link" href="#">Partenaires</a>
			</li>
			<div class="skewright d-none d-md-block"></div>
			<li class="nav-item">
				<a class="nav-link" href="#">Gouvernance</a>
			</li>
			<div class="skewright d-none d-md-block"></div>
			<li class="nav-item">
				<a class="nav-link" href="#">Se déconnecter</a>
			</li>
		</ul>
	</div>
</nav>
<div class="bg-primary blue-spacer py-1"></div>
