<form action="" method="POST" id="add-sport" enctype="multipart/form-data">
	<div class="row admin-form m-auto my-4 p-2 w-75">
		<div class="mb-3 col-9">
			<label for="name" class="form-label">Nom de la section</label>
			<input type="text" name="name" class="form-control" id="name" value="">
		</div>
		<div class="mb-3 col-3">
			<label for="header" class="form-label">Image en-tête de la section</label>
			<input class="form-control" type="file" id="header" name="header">
		</div>
		<div class="mb-3 col-12 m-auto">
			<label for="presentation" class="form-label">Description de la section</label>
			<textarea class="form-control" name="presentation" id="presentation" rows="3"></textarea>
		</div>
	</div>
	<div class="d-flex justify-content-between w-75 m-auto">
		<button type="submit" class="btn btn-success w-25 py-2">Valider</button>
		<button class="btn btn-outline-danger w-25 py-2">
			<a href="/admin/sports" class="admin-buttons text-danger">Annuler</a>
		</button>
	</div>
</form>
