<form action="" method="POST">
	<div class="row admin-form m-auto my-4 p-2 w-75">
		<div class="mb-3 col-9">
			<label for="section-title" class="form-label">Nom de la section</label>
			<input type="text" name="section-title" class="form-control" id="section-title" value="{{section.name}}">
		</div>
		<div class="mb-3 col-3">
			<label for="section-header" class="form-label">Image en-tête de la section</label>
			<input class="form-control" type="file" id="section-header" name="section-header">
		</div>
		<div class="mb-3 col-12 m-auto">
			<label for="section-presentation" class="form-label">Description de la section</label>
			<textarea class="form-control" name="section-presentation" id="section-presentation" rows="3">{{section.presentation}}</textarea>
		</div>
	</div>
	<div class="d-flex justify-content-between w-75 m-auto">
		{{include ('/Components/_validateButton.html.twig')}}
		{{include ('/Components/_cancelButton.html.twig')}}
	</div>
</form>
