<footer class="">
	<div class="yellow-spacer bg-secondary mt-4"></div>
	<div class="footer-container bg-dark d-flex flex-column pt-3">
		<div class="footer-link-container d-flex justify-content-around py-3">
			<li>
				<a href="" class="text-light footer-link">À propos</a>
			</li>
			<div class="small-blue-spacer"></div>
			<li>
				<a href="" class="text-light footer-link">Contact</a>
			</li>
			<div class="small-blue-spacer"></div>
			<li>
				<a href="" class="text-light footer-link">Mentions légales</a>
			</li>
			<div class="small-blue-spacer"></div>
			<li>
				<a href="" class="text-light footer-link">CGU</a>
			</li>

		</div>
	</div>
</footer>
