{% block footer %}
	<footer>
		<div class="yellow-spacer bg-secondary mt-4"></div>
		<div class="footer-container bg-dark d-flex flex-column pt-3">
			<div class="d-flex justify-content-around align-items-center py-3">
				<img src="/assets/images/FFM-logo.png" alt="">
				<img src="/assets/images/FFSA-logo.jpg" alt="">
				<img src="/assets/images/ufolep-logo.png" alt="">
				<img src="/assets/images/RCVL-logo.png" alt="">
			</div>
			<div class="bg-secondary pt-1 w-75 m-auto"></div>
			<div class="footer-link-container d-flex justify-content-around py-3">
				<li>
					<a href="" class="text-light">A propos</a>
				</li>
				<div class="bg-primary px-1"></div>
				<li>
					<a href="" class="text-light">Contact</a>
				</li>
				<div class="bg-primary px-1"></div>
				<li>
					<a href="" class="text-light">Mentions légales</a>
				</li>
				<div class="bg-primary px-1"></div>
				<li>
					<a href="" class="text-light">CGU</a>
				</li>
			</div>
		</div>
	</footer>
{% endblock %}
