{% block footer %}
	<footer>
		<div class="yellow-spacer bg-secondary mt-4"></div>
		<div class="d-flex flex-column bg-dark ">
			<div class="d-flex justify-content-around">
				<img src="/assets/images/FFM-logo.png" alt="">
				<img src="/assets/images/FFSA-logo.jpg" alt="">
				<img src="/assets/images/ufolep-logo.png" alt="">
				<img src="/assets/images/RCVL-logo.png" alt="">
			</div>
			<div class="bg-secondary pt-1 w-50 m-auto"></div>
			<div class="d-flex justify-content-around">
				<li>
					<a href="">A propos</a>
				</li>
				<div class="bg-primary px-1"></div>
				<li>
					<a href="">Contact</a>
				</li>
				<div class="bg-primary px-1"></div>
				<li>
					<a href="">Mentions légales</a>
				</li>
				<div class="bg-primary px-1"></div>
				<li>
					<a href="">CGU</a>
				</li>
			</div>
		</div>
	</footer>
{% endblock %}
