{% extends 'layout.html.twig' %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/circuit.css"/>
{% endblock %}

{% block header %}
	<header>
		<div class="yellow-spacer bg-secondary"></div>
		<div class="header-container d-flex justify-content-center flex-column align-items-center text-center text-white">
			<h1>
				Le Circuit</h1>
		</div>
		<div class="yellow-spacer bg-secondary"></div>

	</header>
{% endblock %}

{% block content %}
	<div class="titleContentLight mt-4 p-2 px-4">
		<h2 class="titleLight text-center text-primary">Présentation du circuit</h2>
	</div>
	<div class=" blue-spacer bg-primary"></div>
	<article class="d-flex bg-primary text-white row">
		<img src="/assets/images/circuit_presentation.jpeg" alt="image of a car race" class="col-7 content-img">
		<p class="text-center px-4 col-5">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ipsum quaerat quod tempore ullam esse voluptates cumque minus, quis eius exercitationem est ut iusto dolorem, nostrum numquam aliquam molestiae aspernatur? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit eveniet tempore, odit, obcaecati, nemo deleniti accusantium quibusdam iusto nostrum eligendi quia repellendus nulla similique! Minus itaque placeat excepturi nam nobis?
		</p>
	</article>
	<div class="yellow-spacer bg-secondary"></div>
	<article class="mt-4">
		<div class="d-flex m-4">
			<img src="/assets/images/circuit03.png" alt="panoramic view of the circuit">
			<p class="ms-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, nisi necessitatibus eum, cum iste perspiciatis dolorem commodi veritatis minus tempore laborum odio a delectus molestias esse quaerat, consequuntur deleniti explicabo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem earum voluptas error neque.
				<br>Rem excepturi veniam incidunt in, repellendus quasi assumenda iste sint dignissimos culpa saepe sit blanditiis eveniet ea. Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus obcaecati possimus unde, cupiditate culpa soluta. Tenetur voluptates minus inventore quisquam dolorem, vero nihil earum expedita doloribus quae eius consectetur numquam.<br>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus in exercitationem perferendis porro earum! Saepe, illum molestiae accusamus corporis vitae deserunt velit expedita ab voluptatem, harum dolor nihil ipsa obcaecati.</p>
		</div>
		<p class="m-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi nemo voluptatibus ipsa beatae ratione delectus quos tempore dicta, velit culpa saepe aliquam maiores perspiciatis eligendi numquam rerum. Ipsa, officia possimus! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi iure dolores repudiandae at numquam repellat quod ex officia vitae ut hic, consequuntur corporis necessitatibus ipsam. Iste expedita sed blanditiis consequuntur!</p>
	</article>
	<div class=" blue-spacer l-spacer bg-primary"></div>
	<article class="mt-4">
		<div class="d-flex m-4">
			<img src="/assets/images/circuit03.png" alt="panoramic view of the circuit">
			<p class="ms-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, nisi necessitatibus eum, cum iste perspiciatis dolorem commodi veritatis minus tempore laborum odio a delectus molestias esse quaerat, consequuntur deleniti explicabo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem earum voluptas error neque.
				<br>Rem excepturi veniam incidunt in, repellendus quasi assumenda iste sint dignissimos culpa saepe sit blanditiis eveniet ea. Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus obcaecati possimus unde, cupiditate culpa soluta. Tenetur voluptates minus inventore quisquam dolorem, vero nihil earum expedita doloribus quae eius consectetur numquam.<br>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus in exercitationem perferendis porro earum! Saepe, illum molestiae accusamus corporis vitae deserunt velit expedita ab voluptatem, harum dolor nihil ipsa obcaecati.</p>
		</div>
		<p class="m-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi nemo voluptatibus ipsa beatae ratione delectus quos tempore dicta, velit culpa saepe aliquam maiores perspiciatis eligendi numquam rerum. Ipsa, officia possimus! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi iure dolores repudiandae at numquam repellat quod ex officia vitae ut hic, consequuntur corporis necessitatibus ipsam. Iste expedita sed blanditiis consequuntur!</p>
	</article>

{% endblock %}
