{% extends 'visitor_layout.html.twig' %}

{% block stylesheetGrandChild %}
	<link rel="stylesheet" href="/assets/css/circuit.css"/>
{% endblock %}

{% block header %}
	<header>
		<div class="yellow-spacer bg-secondary"></div>
		<div class="header-container d-flex justify-content-center flex-column align-items-center text-center text-light">
			<h1 class="headerTitle">
				Le Circuit</h1>
		</div>
		<div class="yellow-spacer bg-secondary"></div>

	</header>
{% endblock %}

{% block content %}
	<div class="titleContentLight mt-4 p-2 px-4 d-flex align-items-center">
		<h2 class="titleLight text-center text-primary ">Présentation du circuit</h2>
	</div>
	<div class=" blue-spacer bg-primary"></div>
	<article class="d-flex bg-primary text-light row">
		<img src="/assets/images/circuit_presentation.jpeg" alt="image of a car race" class="col-md-7 content-img">
		<p class="text-center p-4 col-md-5 fs-5">
			En accord avec le SIRTOM et la Mairie de SOUGY, l'Ecurie Orléans a mis en place un stade de sports mécaniques.
			<br>
			<br>
			Huit cent quinze habitants, la commune de Sougy en lisière de Beauce et de l'Orléanais, située a 20 Km d'Orléans et à 100 Km de Paris. Ses carrières d'extraction de calcaire étaient destinées à l'enfouissement des ordures ménagères. Des directives Européennes récentes ont mis fin à cette exploitation en 1996. L'Ecurie Orleans a donc eu l'idée de réhabiliter la carrière du "TROU AUX LIEVRES " en lui donnant une seconde vie.
			<br>
			<br>
			Partant du constat qu'aucune structure adaptée existait en région Orléanaise et que beaucoup d'adeptes du tout terrain pratiquaient du hors piste de façon sauvage, l'Ecurie Orléans avec le soutien des collectivités locales et de la Mairie de Sougy a élaboré le projet de regrouper sur un même site une piste terre auto de 1000 mètres (Sprint Car, Fol Car, 2CV Cross, Rallye Cross, Camion Cross) et une piste moto cross avec Side Car Cross et Quad de 1500 m, le tout sur une surface de 12 Ha.
			<br>
			<br>
			C'est maintenant chose faite, le site peut accueillir des compétitions de niveau régional, puis après une période de rodage des compétitions de niveau national, voire international. Et pourquoi pas un jour une spéciale du Paris Dakar ?
		</p>
	</article>
	<div class="yellow-spacer bg-secondary"></div>
	<article class="mt-5">
		<div class=" d-flex row m-4">
			<img src="/assets/images/circuit.webp" alt="panoramic view of the circuit" class="col-lg-5 mb-3">
			<p class="col-lg-7 w-55 fs-5">
				La création de deux pistes tout terrain distinctes, sa situation proche de l'autoroute A10 et de la future A19 pourrait devenir un outil de travail pour des entreprises liées aux sports mécaniques qui auraient ainsi l'occasion de travailler au plus près de leur zone d'essais.<br>
				A terme des stages de conduite destinés à apprendre la glisse,une école de perfectionnement à la pratique des sports mécaniques, un club méca pour les jeunes de Sougy pourraient se développer. D'autres projets d'utilisation comme la pratique loisirs peuvent être envisagés en concertation avec la Mairie, le SIRTOM et l'Ecurie Orleans.
			</p>
			<p class="col-lg-12 fs-5">
				La mise en place d'un tel challenge a nécessité beaucoup d'investissements, surtout humain pour qu'ensemble nous puissions dynamiser le sport mécanique en région Centre. Aussi si vous souhaitez participer à cette grande aventure, rejoignez une équipe de bénévoles motivée dans une ambiance chaleureuse !
			</p>
		</div>

	</article>
	<div class=" blue-spacer light-spacer bg-primary"></div>
	<article class="circuit-section3 ">
		<div class="d-flex m-0  row bg-primary">
			<ul class="col-lg-4 p-4 text-light col-sm-12 section3-circuit-upper-text fs-5 text-center d-flex flex-column justify-content-center">
				Le Pôle tout terrain :
				<li class="pt-4">superficie 12 Ha</li>
				<li>600 M² de bâtiments</li>
				<li>un parc coureurs de 120 places avec eau et électricité</li>
				<li>une piste auto de 1000 mètres sur 16 mètres de large</li>
				<li>une piste Moto Cross de 1500 mètres sur 8 mètres de large</li>
			</ul>
			<img src="/assets/images/circuit_description.webp" alt="panoramic view of the circuit" class=" col-lg-8 col-sm-12 circuit-content-image p-0">
		</div>
	</article>
	<section class="mt-5">
		<div class="titleContentLight mt-4 p-2 px-4 d-flex align-items-center">
			<h2 class="titleLight text-center text-primary ">Emplacement du circuit</h2>
		</div>
		<div class="row g-0 mt-2">
			<iframe class="col-lg-6 m-auto my-5" height="500px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=1.760237216949463%2C48.05572747385246%2C1.7669212818145754%2C48.05900103826035&amp;layer=mapnik" style="border: 1px solid black"></iframe>
			<p class="col-lg-5 text-center m-auto circuit-adress fs-5">
				<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="#1f1cc6" class="bi bi-geo-alt-fill mb-4" viewbox="0 0 16 16">
					<path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
				</svg>
				<br>
				Sur la D5,
				<br>
				Chem. du Trou aux Lièvres,
				<br>
				45410 Sougy
			</p>
		</div>
	</section>
{% endblock %}
