{% extends 'layout.html.twig' %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/circuit.css"/>
{% endblock %}

{% block header %}
	<header>
		<div class="yellow-spacer bg-secondary"></div>
		<div class="header-container d-flex justify-content-center flex-column align-items-center text-center text-white">
			<h1>
				Le Circuit</h1>
		</div>
		<div class="yellow-spacer bg-secondary"></div>

	</header>
{% endblock %}

{% block content %}
	<h1>Hello Wilder !</h1>
	<p>Find a complete CRUD example on
		<a href="/items">/items</a>
		page.</p>
{% endblock %}
