{% extends "visitor_layout.html.twig"%}
{% block stylesheetGrandChild %}
	<link rel="stylesheet" href="/assets/css/partner.css">
{% endblock %}
{% block header %}
	<header>
		<div class="yellow-spacer bg-secondary"></div>
		<div class="header-container d-flex justify-content-center flex-column align-items-center text-center text-light">
			<h1 class="headerTitle">
				Nos partenaires
			</h1>
			<div class="arrows-container d-flex flex-column mt-5">
				<svg viewbox="0 0 24 24" class="arrow-down bounce">
					<path fill-rule="evenodd" fill="#1F1CC6" clip-rule="evenodd" d="M18.5303 9.46967C18.8232 9.76256 18.8232 10.2374 18.5303 10.5303L12.5303 16.5303C12.2374 16.8232 11.7626 16.8232 11.4697 16.5303L5.46967 10.5303C5.17678 10.2374 5.17678 9.76256 5.46967 9.46967C5.76256 9.17678 6.23744 9.17678 6.53033 9.46967L12 14.9393L17.4697 9.46967C17.7626 9.17678 18.2374 9.17678 18.5303 9.46967Z" fill="#030D45"/>
				</svg>
				<svg viewbox="0 0 24 24" fill="#FFFFFF" class=" arrow-down bounce">
					<path fill-rule="evenodd" fill="#FFFFF" clip-rule="evenodd" d="M18.5303 9.46967C18.8232 9.76256 18.8232 10.2374 18.5303 10.5303L12.5303 16.5303C12.2374 16.8232 11.7626 16.8232 11.4697 16.5303L5.46967 10.5303C5.17678 10.2374 5.17678 9.76256 5.46967 9.46967C5.76256 9.17678 6.23744 9.17678 6.53033 9.46967L12 14.9393L17.4697 9.46967C17.7626 9.17678 18.2374 9.17678 18.5303 9.46967Z" fill="#030D45"/>
				</svg>
				<svg viewbox="0 0 24 24" class="arrow-down bounce">
					<path fill-rule="evenodd" fill="#1F1CC6" clip-rule="evenodd" d="M18.5303 9.46967C18.8232 9.76256 18.8232 10.2374 18.5303 10.5303L12.5303 16.5303C12.2374 16.8232 11.7626 16.8232 11.4697 16.5303L5.46967 10.5303C5.17678 10.2374 5.17678 9.76256 5.46967 9.46967C5.76256 9.17678 6.23744 9.17678 6.53033 9.46967L12 14.9393L17.4697 9.46967C17.7626 9.17678 18.2374 9.17678 18.5303 9.46967Z" fill="#030D45"/>
				</svg>
			</div>
		</div>
		<div class="yellow-spacer bg-secondary"></div>
	</header>
{% endblock %}
{% block content %}
<div class="partnerscontainer row justify-content-center align-items-center flex-wrap m-0">
    {% for partner in partners %}
    <a class="col-6 col-md-3 d-flex justify-content-center logopart w-25" href="{{ partner.URL }}" target="blank"><img
            src="{% if partner.logo is not null %} {{'/uploads/' ~ partner.logo }} {% else %} {{'/assets/images/logopo.png'}} {% endif %}"
            class="admin-header-image h-100 w-100 img-fluid rounded-start py-2"
            alt="Logo image of {{partner.name}}"></a>
    {% endfor %}
</div>
{% endblock %}
